name: CI

on:
  push:
    branches:
    - '**'
    - '!dependabot/**'
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.3
    - uses: actions/setup-go@v2.1.3
      with:
        go-version: '1.13'
    # TODO remove after https://github.com/actions/setup-go/issues/14
    - name: Add GOPATH/bin to PATH
      run: |
        echo "##[set-env name=GOPATH;]$(go env GOPATH)"
        echo "##[add-path]$(go env GOPATH)/bin"
      shell: bash
    - name: Start liiklus
      run: |
        docker run --name liiklus \
          --rm --detach \
          -p 6565:6565/tcp \
          -e storage_positions_type=MEMORY \
          -e storage_records_type=MEMORY \
          bsideup/liiklus:0.10.0-rc1
      shell: bash
    - name: Test
      run: make test
    - name: Stop liiklus
      run: |
        docker stop liiklus
      shell: bash
    - name: Report coverage
      run: curl -s https://codecov.io/bash | bash -s
      shell: bash
      env:
        CODECOV_TOKEN: f9727f0e-d03f-4bde-8836-781574f4b4a2
